/* Media Queries */
@media(max-width: 1000px){
    .article {
        /*grid-template-rows: minmax(0, 20%) minmax(0, 10%) minmax(0, 50%) minmax(0, 20%);*/
        grid-template-columns: 100%;
        grid-template-areas:
            "letter"
            "skills" 
            "professional"
            "studies"
    }
    .column-side {
        flex-direction: row;
        text-align: center;
        border-right: none;
        border-bottom: 1px gray solid;
        padding-right: 0px;
        padding-bottom: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .column-professional {
        text-align: center;
        border-bottom: 1px gray solid;
        padding-bottom: 2px;
    }
    .column-studies {
        text-align: center;
        padding-left: 0px;
        border-left: none;
    }
    .message-title {
        padding: 0px 10px 0px 10px;
        flex-direction: column;
        
    }
}
