/* Media Queries */
@media(max-width: 1000px){
    .article {
        grid-template-rows: minmax(0, 20%) minmax(0, 10%) minmax(0, 50%) minmax(0, 20%);
        grid-template-columns: repeat(auto-fill, minmax(0, 8fr));
        grid-template-areas:
        "letter"
        "skills" 
        "professional"
        "studies
    }
    .column-side {
        flex-direction: row;
        text-align: center;
        border-right: none;
        border-bottom: 1px gray solid;
        padding-right: 0px;
        padding-bottom: 2px;
    }
    .message-title {
        padding: 0px 10px 0px 10px;
    }
}
