body {
    font: 15px/1.5 Segoe UI,Fira Sans,Helvetica, sans-serif,Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    background-color: whitesmoke;
    color: black;

}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.section-title {
    font-size: 30px;
    font-weight: bold;
    height: 40px;
}

.little-text {
    font-size: 12px;
    font-style: italic;
    text-transform: capitalize;
}

.message-small {
    font-size: 10px;
}

.message-medium {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

.message-title {
    font-size: 22px;
    font-weight: bold;
}

.color-dark {
    color: rgb(165, 120, 49);
    font-weight: bolder;
}

.header {
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid gray;
}
.header  .header-content {
    width: 60%;
    margin-left: 20%;
}

.header .logo {
    float: left;
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: -8px;
    font-weight: bold;
}
.header .logo .sub{
    font-size: 14;
    font-style: italic;
    margin: auto;
}

.header .extra {
    float: right;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    text-align: right;
    font-size: 15px;
}

.header .extra ul {
    list-style-type: none;       
}

.header .extra li {
    display: inline;
    padding: 0 20px 0 20px;        
}

.article {
    min-height: 80%;
    width: 95%;
    margin: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.column-main {
    width: 38%;
    max-width: 38%;
    display: table-cell;
    padding-left: 10px;
    padding-right: 15px;
}
.column-side {
    width: 15%;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid gray;
}

.footer {
    width: 100%;
    margin: auto;
    border-top: 3px solid gray;
}

.div-cv {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
    width: 100%;
}
  
.icon-standard {
    pointer-events: fill; 
    width: 20px;
    vertical-align: middle;
    /*filter: invert(57%) sepia(4000%) saturate(500%) hue-rotate(346deg) brightness(114%) contrast(97%);*/
}
.icon-standard:hover {
    pointer-events: none;
    width: 20px;
    vertical-align: middle;
    filter: invert(47%) sepia(4000%) saturate(200%) hue-rotate(356deg) brightness(74%) contrast(97%);
}